.tittle_prediction {
  font-style: normal;
  font-size: 8rem;
  line-height: 154px;
  color: #ffb800;

  mix-blend-mode: normal;
  -webkit-text-stroke: 1px #f8cf67;
}
.number_game_prediction {
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 48px;

  color: #f3e5d5;

  mix-blend-mode: normal;
  text-shadow: 0px 8px 4px rgba(0, 0, 0, 0.25);
}
.line_image {
  margin: 2rem;
  height: 1px;
  background: rgb(253, 253, 253);
}
.price_loked {
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 48px;
  /* identical to box height */

  color: #ffcc15;

  mix-blend-mode: normal;
  text-shadow: 0px 8px 4px rgba(0, 0, 0, 0.25);
}

.actual_pool {
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 48px;
  /* identical to box height */

  color: #f3e5d5;

  mix-blend-mode: normal;
  text-shadow: 0px 8px 4px rgba(0, 0, 0, 0.25);
}
.time,
.countdown {
  font-style: normal;
  font-weight: 400;
  font-size: 40px;
  line-height: 48px;
  text-align: center;
  color: #f3e5d5;

  mix-blend-mode: normal;
  text-shadow: 0px 8px 4px rgba(0, 0, 0, 0.25);
}

.up_price {
  width: 457px;
  height: 106px;
  background: rgba(255, 168, 0, 0.38);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 100px;

  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 48px;

  color: #ffffff;

  mix-blend-mode: normal;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.actual_price {
  font-style: normal;
  font-weight: 400;
  font-size: 128px;
  line-height: 154px;
  /* identical to box height */

  color: #ffbf1a;

  mix-blend-mode: normal;
  text-shadow: 8px 13px 4px rgba(0, 0, 0, 0.25);
}
.pair {
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 38px;

  color: #f3e5d5;

  mix-blend-mode: normal;
  text-shadow: 0px 8px 4px rgba(0, 0, 0, 0.25);
}
.down_price {
  width: 457px;
  height: 106px;

  background: rgba(149, 71, 0, 0.28);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 100px;

  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 48px;

  color: #ffffff;

  mix-blend-mode: normal;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.user_interactive_prediction {
  flex-direction: row;
}
.btns_up_down {
  flex-direction: row;
}
.btn_up {
  width: 290px;
  height: 97px;

  background: #ffa800;
  border: 0.1rem solid #c56900;
  border-radius: 100px;

  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 48px;
  transition-duration: 0.4s;
  color: #fdfdfd;

  mix-blend-mode: normal;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  cursor: pointer;
}
.btn_up:hover {
  background-color: #bf7f00;
  color: rgb(234, 234, 234);
}
.input_amount_prediction {
  width: 269px;
  height: 97px;

  background: #ffffff;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 42px;

  font-style: normal;
  font-weight: 400;
  font-size: 48px;
  line-height: 58px;

  color: #aeaeae;

  mix-blend-mode: normal;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.btn_down {
  width: 290px;
  height: 97px;

  background: #954700;
  border: 0.1rem solid #c56900;
  border-radius: 100px;

  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 48px;
  transition-duration: 0.4s;
  color: #fdfdfd;

  mix-blend-mode: normal;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  cursor: pointer;
}
.btn_down:hover {
  background-color: #472200;
  color: rgb(234, 234, 234);
}
.texts_prediction {
  flex-direction: row;
}
.minimun_amount {
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 29px;
  /* identical to box height */

  color: #f3e5d5;

  mix-blend-mode: normal;
  text-shadow: 0px 8px 4px rgba(0, 0, 0, 0.25);
}
.user_balance {
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 29px;
  /* identical to box height */

  color: #f3e5d5;

  mix-blend-mode: normal;
  text-shadow: 0px 8px 4px rgba(0, 0, 0, 0.25);
}
